:root {
    --orange: #a66202
}
@font-face {
    font-family: 'Balatro';
    src: url('./fonts/balatro/balatro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    background-color: #35654d;
    font-family: 'Balatro', system-ui;

}

body {
    margin: 0;
    padding: 0;
    height: 800px;
    width: 1280px;
    overflow: hidden;
    font-family: 'Balatro', system-ui;
}

button {
    font-family: 'Balatro', system-ui;
}

* {
    box-sizing: border-box;
}

h1 {
    color: white;
    margin-top: 0;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.balatro-font {
    font-family: 'Balatro', system-ui;
}

.debug-button {
    position: absolute;
    width: 236px !important;
    bottom: -5px;
}

.yellow-button {
    background-color: #ff9700;
    border: none;
    color: white;
    text-shadow: 1px 1px 2px black;
    outline: inherit;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
}

.hidden {
    display: none !important;
}

#debug-menu {
    position: absolute;
    width: 1280px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 10;
    background: rgb(0 0 0 / 77%);
}

#debug-menu button{
    padding: 20px; 
    width: 150px;
}

/* DEBUG SECTION */

#layout-grid {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#layout-grid .layout-grid-vline {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: rgb(255 255 255 / 17%);
}

#layout-grid .layout-grid-hline {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(255 255 255 / 17%);
}

#layout-grid .layout-grid-vlabel {
    position: absolute;
    color: white;
    font-size: 12px;
    font-family: monospace;
    background-color: rgb(255 255 255 / 17%);
    padding: 2px;

}

#layout-grid .layout-grid-hlabel {
    position: absolute;
    color: white;
    font-size: 12px;
    font-family: monospace;
    background-color: rgb(255 255 255 / 17%);
    padding: 2px;
}

/* GAME BOARD */

#game-board {
    height: 800px;
    width: 1280px;
}

.score-section {
    width: 250px;
    height: 100%;
    padding: 5px;
    border-right: 2px solid var(--orange);
    background-color: #293a3a;
    border-left: 2px solid var(--orange);
    margin-left: 20px;
}

.score-section button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.score-box {
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    gap: 10px;
    text-align: center;
    margin-bottom: 10px;
    background: var(--orange);
    text-shadow: 1px 1px 2px black;
    width: 100%;
    line-height: 1.2;
}

.score-box-value {
    font-size: 30px;
    flex: 1;
    background: rgb(0 0 0 / 35%);
    padding: 10px;
    border-radius: 5px;
}

.trump-box-value {
    flex: 1;
    background: rgb(0 0 0 / 35%);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.trump-box-value .trump-value {
    margin-right: 5px;
}

.player-name {
    position: absolute;
    left: 670px;
    bottom: -1px;
    background-color: var(--orange);
    color: white;
    width: 180px;
    text-align: center;
    padding: 4px;
    font-size: 12px;
    border-radius: 10px 10px 0 0;
}

.player-deck {
    bottom: 32px;
    left: 571px;
    position: absolute;
    width: 375px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player-deck .card-wrapper {
    margin-left: -10px;
}

.played-card-zone {
    position: absolute;
    border: 4px solid #cacaca;
    height: 155px;
    width: 120px;
    border-radius: 9px;
    padding-top: 2px;
    padding-left: 2px;
}

.player-played {
    top: 442px;
    left: 700px;
}

.player-2-name {
    position: absolute;
    left: 270px;
    top: 308px;
    background-color: var(--orange);
    color: white;
    height: 180px;
    text-align: center;
    padding: 4px;
    font-size: 12px;
    border-radius: 0px 10px 10px 0;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.player-2-deck {
    position: absolute;
    top: 245px;
    left: 332px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-2-deck .card-wrapper {
    margin-top: -60px;
    transform: rotate(90deg);
}

.player-2-played {
    top: 320px;
    left: 480px;
}

.player-3-name {
    position: absolute;
    left: 670px;
    top: 0px;
    background-color: var(--orange);
    color: white;
    width: 180px;
    text-align: center;
    padding: 4px;
    font-size: 12px;
    border-radius: 0px 0px 10px 10px;
}

.player-3-deck {
    left: 590px;
    top: 30px;
    position: absolute;
    width: 375px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player-3-deck .card-wrapper {
    margin-left: -37px;
}

.player-3-played {
    top: 203px;
    left: 700px;
}

.player-4-name {
    position: absolute;
    right: 0;
    top: 308px;
    background-color: var(--orange);
    color: white;
    height: 180px;
    text-align: center;
    padding: 4px;
    font-size: 12px;
    border-radius: 10px 0px 0px 10px;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.player-4-deck {
    position: absolute;
    top: 245px;
    right: 50px;
    height: 375px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.player-4-deck .card-wrapper {
    margin-top: -60px;
    transform: rotate(270deg);
}

.player-4-played {
    top: 320px;
    left: 930px;
    /* transform: rotate(270deg); */
}

.card-face {
    display: inline-block;
    width: 71px;
    height: 95px;
}

.card-wrapper {
    background-image: url(img/card-backs-seals.png);
    background-position: -71px 0px;
    width: 71px;
    height: 94px;
    display: inline-block;
    zoom: 1.5;
}

.card-wrapper.glass {
    background-position: -355px -96px;
    background-color: #878f96;
    border-radius: 4px;
}

.card-wrapper.wild {
    background-position: -213px -96px;
    border-radius: 4px;
}

.card-wrapper.bonus {
    background-position: -71px -96px;
    border-radius: 4px;
}

.card-wrapper.mult {
    background-position: -142px -96px;
    border-radius: 4px;
}

.card-wrapper.steel {
    background-position: -426px -96px;
    border-radius: 4px;
}

.card-wrapper.gold {
    background-position: -426px -1px;
    border-radius: 4px;
}
.card-wrapper.lucky {
    background-position: -284px -96px;
    border-radius: 4px;
}
.card-wrapper.red-deck {
    background-position: 0 -1px;
    border-radius: 4px;
}

.kitty-wrapper .card-wrapper {
    display: inline-block;
    position: absolute;
}

.kitty-wrapper .card-wrapper:nth-child(1) {
    margin-top: 9px;
    margin-left: 9px;
}
.kitty-wrapper .card-wrapper:nth-child(2) {
    margin-top: 6px;
    margin-left: 6px;
}
.kitty-wrapper .card-wrapper:nth-child(3) {
    margin-top: 3px;
    margin-left: 3px;
}

#game-board .kitty-wrapper {
    position: absolute;
    top: 620px;
    left: 295px;
}

/* Icons */
.icon-hearts {
    background-image: url('img/icons.png');
    background-position: 0px -18px;
    display: block;
    height: 18px;
    width: 18px;
}
.icon-diamonds {
    background-image: url('img/icons.png');
    background-position: -18px -18px;
    display: block;
    height: 18px;
    width: 18px;
}
.icon-clubs {
    background-image: url('img/icons.png');
    background-position: -36px -18px;
    display: block;
    height: 18px;
    width: 18px;
}
.icon-spades {
    background-image: url('img/icons.png');
    background-position: -54px -18px;
    display: block;
    height: 18px;
    width: 18px;
}

/* Hearts */
.two-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: 0 0px;
}
.three-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -71px 0;
}
.four-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -142px 0;
}
.five-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -213px 0;
}
.six-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -284px 0;
}
.seven-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -355px 0;
}
.eight-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -426px 0;
}
.nine-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -497px 0;
}
.ten-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -568px 0;
}
.jack-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -639px 0;
}
.queen-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -710px 0;
}
.king-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -781px 0;
}
.ace-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -852px 0;
}

/* Clubs */
.two-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: 0 -95px;
}
.three-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -71px -95px;
}
.four-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -142px -95px;
}
.five-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -213px -95px;
}
.six-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -284px -95px;
}
.seven-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -355px -95px;
}
.eight-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -426px -95px;
}
.nine-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -497px -95px;
}
.ten-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -568px -95px;
}
.jack-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -639px -95px;
}
.queen-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -710px -95px;
}
.king-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -781px -95px;
}
.ace-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -852px -95px;
}

/* Diamonds */
.two-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: 0 -190px;
}
.three-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -71px -190px;
}
.four-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -142px -190px;
}
.five-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -213px -190px;
}
.six-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -284px -190px;
}
.seven-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -355px -190px;
}
.eight-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -426px -190px;
}
.nine-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -497px -190px;
}
.ten-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -568px -190px;
}
.jack-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -639px -190px;
}
.queen-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -710px -190px;
}
.king-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -781px -190px;
}
.ace-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -852px -190px;
}

/* Spades */
.two-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: 0 -285px;
}
.three-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -71px -285px;
}
.four-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -142px -285px;
}
.five-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -213px -285px;
}
.six-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -284px -285px;
}
.seven-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -355px -285px;
}
.eight-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -426px -285px;
}
.nine-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -497px -285px;
}
.ten-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -568px -285px;
}
.jack-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -639px -285px;
}
.queen-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -710px -285px;
}
.king-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -781px -285px;
}
.ace-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -852px -285px;
}


/* Animations */
@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotating 2s linear infinite;
}

@keyframes slightRotate1 {
    0%, 100% {
      transform: rotate(0deg) translateY(0);
    }
    25% {
      transform: rotate(2deg) translateY(-1px);
    }
    50% {
      transform: rotate(0deg) translateY(0);
    }
    75% {
      transform: rotate(-2deg) translateY(1px);
    }
}

@keyframes slightRotate2 {
    0%, 100% {
      transform: rotate(0deg) translateY(0);
    }
    25% {
      transform: rotate(-2deg) translateY(2px);
    }
    50% {
      transform: rotate(0deg) translateY(0);
    }
    75% {
      transform: rotate(2deg) translateY(-2px);
    }
}

@keyframes slightRotate3 {
    0%, 100% {
      transform: rotate(0deg) translateY(0);
    }
    25% {
      transform: rotate(3deg) translateY(3px);
    }
    50% {
      transform: rotate(0deg) translateY(0);
    }
    75% {
      transform: rotate(-3deg) translateY(-3px);
    }
}

@keyframes slightRotate4 {
    0%, 100% {
      transform: rotate(0deg) translateY(0);
    }
    25% {
      transform: rotate(-3deg) translateY(3px);
    }
    50% {
      transform: rotate(0deg) translateY(0);
    }
    75% {
      transform: rotate(2deg) translateY(-3px);
    }
}
@keyframes slightRotate5 {
    0%, 100% {
      transform: rotate(0deg) translateY(0);
    }
    25% {
      transform: rotate(-3deg) translateY(-3px);
    }
    50% {
      transform: rotate(0deg) translateY(0);
    }
    75% {
      transform: rotate(2deg) translateY(3px);
    }
}


.player-deck > :nth-child(5n+1) {
    display: inline-block; /* Ensure elements can be transformed */
    animation: slightRotate1 15s linear infinite; /* Adjust timing and easing as needed */
}
.player-deck > :nth-child(5n+2) {
    display: inline-block; /* Ensure elements can be transformed */
    animation: slightRotate2 15s linear infinite; /* Adjust timing and easing as needed */
}
.player-deck > :nth-child(5n+3) {
    display: inline-block; /* Ensure elements can be transformed */
    animation: slightRotate3 14s linear infinite; /* Adjust timing and easing as needed */
}
.player-deck > :nth-child(5n+4) {
    display: inline-block; /* Ensure elements can be transformed */
    animation: slightRotate4 18s linear infinite; /* Adjust timing and easing as needed */
}
.player-deck > :nth-child(5n+5) {
    display: inline-block; /* Ensure elements can be transformed */
    animation: slightRotate5 16s linear infinite; /* Adjust timing and easing as needed */
}

@keyframes slightRotate1Player2 {
    0%, 100% {
      transform: rotate(90deg) translateY(0);
    }
    25% {
      transform: rotate(92deg) translateY(-1px);
    }
    50% {
      transform: rotate(90deg) translateY(0);
    }
    75% {
      transform: rotate(88deg) translateY(1px);
    }
}

@keyframes slightRotate2Player2 {
    0%, 100% {
      transform: rotate(90deg) translateY(0);
    }
    25% {
      transform: rotate(88deg) translateY(2px);
    }
    50% {
      transform: rotate(90deg) translateY(0);
    }
    75% {
      transform: rotate(92deg) translateY(-2px);
    }
}

@keyframes slightRotate3Player2 {
    0%, 100% {
      transform: rotate(90deg) translateY(0);
    }
    25% {
      transform: rotate(93deg) translateY(3px);
    }
    50% {
      transform: rotate(90deg) translateY(0);
    }
    75% {
      transform: rotate(87deg) translateY(-3px);
    }
}

@keyframes slightRotate4Player2 {
    0%, 100% {
      transform: rotate(90deg) translateY(0);
    }
    25% {
      transform: rotate(87deg) translateY(3px);
    }
    50% {
      transform: rotate(90deg) translateY(0);
    }
    75% {
      transform: rotate(92deg) translateY(-3px);
    }
}
@keyframes slightRotate5Player2 {
    0%, 100% {
      transform: rotate(90deg) translateY(0);
    }
    25% {
      transform: rotate(87deg) translateY(-3px);
    }
    50% {
      transform: rotate(90deg) translateY(0);
    }
    75% {
      transform: rotate(92deg) translateY(3px);
    }
}

.player-2-deck > :nth-child(5n+1) {
    display: inline-block; /* Ensure elements can be transformed */
    animation: slightRotate1Player2 15s linear infinite; /* Adjust timing and easing as needed */
}
.player-2-deck > :nth-child(5n+2) {
    display: inline-block; /* Ensure elements can be transformed */
    animation: slightRotate2Player2 15s linear infinite; /* Adjust timing and easing as needed */
}
.player-2-deck > :nth-child(5n+3) {
    display: inline-block; /* Ensure elements can be transformed */
    animation: slightRotate3Player2 14s linear infinite; /* Adjust timing and easing as needed */
}
.player-2-deck > :nth-child(5n+4) {
    display: inline-block; /* Ensure elements can be transformed */
    animation: slightRotate4Player2 18s linear infinite; /* Adjust timing and easing as needed */
}
.player-2-deck > :nth-child(5n+5) {
    display: inline-block; /* Ensure elements can be transformed */
    animation: slightRotate5Player2 16s linear infinite; /* Adjust timing and easing as needed */
}