html {
    height: 100%;
    background-color: green;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: monospace; 
    color: white;
    margin-top: 0;
}

.press-start-2p-regular, button {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.reload-button {
    position: fixed;
    padding: 5px; 
}

/* DEBUG SECTION */

#layout-grid {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#layout-grid .layout-grid-vline {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: rgb(255 255 255 / 17%);
}

#layout-grid .layout-grid-hline {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(255 255 255 / 17%);
}

#layout-grid .layout-grid-vlabel {
    position: absolute;
    color: white;
    font-size: 12px;
    font-family: monospace;
    background-color: rgb(255 255 255 / 17%);
    padding: 2px;

}

#layout-grid .layout-grid-hlabel {
    position: absolute;
    color: white;
    font-size: 12px;
    font-family: monospace;
    background-color: rgb(255 255 255 / 17%);
    padding: 2px;
}

/* GAME BOARD */

#game-board {
    height: 800px;
    width: 1280px;
}

.player-deck {
    position: absolute;
    bottom: 0;
    left: 440px;
}

.player-2-deck {
    position: absolute;
    top: 360px;
    transform: rotate(90deg);
    left: -110px;
}

.player-3-deck {
    position: absolute;
    left: 440px;
}

.player-4-deck {
    position: absolute;
    top: 360px;
    right: 0;
    transform: rotate(270deg);
    right: -110px;
}



.card-face {
    display: inline-block;
    width: 71px;
    height: 95px;
    /* margin-bottom: 5px; */
    /* margin-right: 5px; */
}

.card-wrapper {
    background-image: url(img/card-backs-seals.png);
    background-position: -71px 0px;
    width: 71px;
    height: 94px;
    display: inline-block;
    zoom: 1.5;
}

.card-wrapper.glass {
    background-position: -355px -96px;
    background-color: #878f96;
    border-radius: 4px;
}

.card-wrapper.wild {
    background-position: -213px -96px;
    border-radius: 4px;
}

.card-wrapper.bonus {
    background-position: -71px -96px;
    border-radius: 4px;
}

.card-wrapper.mult {
    background-position: -142px -96px;
    border-radius: 4px;
}

.card-wrapper.steel {
    background-position: -426px -96px;
    border-radius: 4px;
}

.card-wrapper.gold {
    background-position: -426px -1px;
    border-radius: 4px;
}
.card-wrapper.lucky {
    background-position: -284px -96px;
    border-radius: 4px;
}
.card-wrapper.red-deck {
    background-position: 0 -1px;
    border-radius: 4px;
}

/* Hearts */
.two-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: 0 0px;
}
.three-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -71px 0;
}
.four-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -142px 0;
}
.five-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -213px 0;
}
.six-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -284px 0;
}
.seven-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -355px 0;
}
.eight-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -426px 0;
}
.nine-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -497px 0;
}
.ten-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -568px 0;
}
.jack-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -639px 0;
}
.queen-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -710px 0;
}
.king-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -781px 0;
}
.ace-hearts {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -852px 0;
}

/* Clubs */
.two-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: 0 -95px;
}
.three-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -71px -95px;
}
.four-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -142px -95px;
}
.five-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -213px -95px;
}
.six-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -284px -95px;
}
.seven-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -355px -95px;
}
.eight-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -426px -95px;
}
.nine-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -497px -95px;
}
.ten-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -568px -95px;
}
.jack-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -639px -95px;
}
.queen-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -710px -95px;
}
.king-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -781px -95px;
}
.ace-clubs {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -852px -95px;
}

/* Diamonds */
.two-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: 0 -190px;
}
.three-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -71px -190px;
}
.four-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -142px -190px;
}
.five-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -213px -190px;
}
.six-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -284px -190px;
}
.seven-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -355px -190px;
}
.eight-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -426px -190px;
}
.nine-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -497px -190px;
}
.ten-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -568px -190px;
}
.jack-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -639px -190px;
}
.queen-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -710px -190px;
}
.king-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -781px -190px;
}
.ace-diamonds {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -852px -190px;
}

/* Spades */
.two-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: 0 -285px;
}
.three-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -71px -285px;
}
.four-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -142px -285px;
}
.five-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -213px -285px;
}
.six-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -284px -285px;
}
.seven-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -355px -285px;
}
.eight-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -426px -285px;
}
.nine-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -497px -285px;
}
.ten-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -568px -285px;
}
.jack-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -639px -285px;
}
.queen-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -710px -285px;
}
.king-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -781px -285px;
}
.ace-spades {
    background-image: url('img/deck-sprite-sheet.png');
    background-position: -852px -285px;
}


/* Animations */
@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotating 2s linear infinite;
}