
html {
    height: 100%;
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    height: 800px;
    width: 1280px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}