#game {
    background-color: white;
    display: inline-block;
    padding: 3px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#level-select {
    position: absolute;
    left: 10px;
    bottom: 50px;
    font-size: 2em;
}

.row {
    display: flex;
}

.piece {
    flex: 1 0 0px;
    display: inline-block;
    height: 10vw;
    font-size: 2em;
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    /* box-shadow: inset 0 0 5px black; */
    margin: 3px;
    transition: background-color 0.2s ease;
}

.piece:not([active]) {
    opacity: 25%;
}

[type="A"] {
    background: radial-gradient(white, violet);    
}

[type="B"] {
    background: radial-gradient(white, blue);    
}

[type="C"] {
    background: radial-gradient(white, yellow);    
}

[type="Z"]{
    background: radial-gradient(white, green);    
}

.piece:active, .piece:focus {
    outline: none;
}